body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Do not change margin or padding */
  background:#6B3A1D;
/* NOTE: do not change the background in media query */
font-family: 'Manjari', sans-serif;

/* NOTE you can change the fonts but always have a backup */
}
/* NOTE: MOBILE STYLES BELOW --------------------- */

/*
color list
#E9E9EA white
#DBB880 tan
#915B3B lite brown
#6B3A1D brown
#2D2E33 black
*/

/* START MOBILE FORM STYLES */
    .form-container{
/*       TO CENTER add AUTO for margin right and left*/
      margin: 20px auto;
/*  WIDTH 100%  FOR MOBILE DEVICES*/
      width:90%;
      display:block;
      font-size:1em;
      color:#e9e9ea;
    }
    form p{
      margin-bottom:5px;

    }
    label{
      display:block;
    }
    #newsletter input{
      display:inline;
      width:auto;
    }
    input{
      /* FOR MOBILE use WIDTH:100% */
      width:100%;
      padding:1.7%;
      margin:1.5% 0;
      font-size: 1em;
      border-radius: 4px;
      border:1px solid #ccc;
      box-sizing: border-box;
    }
    textarea{
      min-height:100px;
       /* FOR MOBILE use WIDTH:100% */
      width: 100%;
      padding: 2%;
      margin: 1.5% 0;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .map{
 display:block;
 width:400px;
 height: 400px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 border-radius:15px;
}
    button{
      /* CHANGED COLORS bellow */
      background: #DBB880;
      border: 1px solid #DBB880;
      /* Rounded corners */
      border-radius: 4px;
      /* Text color */
      color:#6B3A1D;
      margin-top: 20px;
      margin-bottom: 20px;
      padding:10px 20px;
      font-size: 1.1em;
    }

    .submit{
      width:50px;/* CHANGED COLORS bellow */
    background: #DBB880;
    border: 1px solid #DBB880;
    /* Rounded corners */
    border-radius: 4px;
    /* Text color */
    color:#6B3A1D;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px 20px;
    font-size: 1.1em;}
  /*        END MOBILE FORM STYLES */


header{
  background:#DBB880;

}
/* NOTE do not change nav styles below without checking with April */
.mainNav {
  background: #E9E9EA;
  color: #1a1b18;
  height: 60px;
  position: relative;
}
.mainNav a {
  text-decoration: none;


}
.mainNav .menu {
  background: #E9E9EA;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #efefef;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*POSITION*/
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
}
.mainNav .menu a {
  color: #292938;
  border-bottom: 1px solid #efefef;
  font-weight: bold;
  display: block;
  padding: 15px;

}
.mainNav .menu a:hover {
  background: #DBB880;
  color: #6B3A1D;
}
.mainNav .navBars {
  display: inline-block;
  font-size: 1.7em;
  line-height: 1.5em;
  float: right;
  /* NOTE HAMBURGER POSITION to the right*/
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
#xBxHack {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;
}
#xBxHack:checked ~ nav .menu {
  display: block;
}
.navcontainer {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}
/* NOTE: END Navigation styles --------------------- */

.wrapper{
  background: #915B3B;
  margin: auto;
  width:90%;
  /* Width with a margin auto keeps the content from touching the edge */
  padding: 20px;
}





h2{
  font-size:2em;
  color: #E9E9EA;
  text-align: center;
  margin-left:auto;
margin-right: auto;
font-family:'Itim', cursive; }

.medium-size{
  font-family: 'Manjari', sans-serif;
  margin-left:auto;
  margin-right: auto;
color: #E9E9EA;
  text-align:center;
  align-content:center;
}


/*this is the first cat photo. this should only affect one photo*/
.icon{
  display:block;
  margin-left:auto;
  margin-right: auto;
  max-width:25%;
  border-radius: 50%;
}

.grid{
align-content:center;
}

.cathome{
  display:inline-grid;
  align-items:center;
  max-width:100%;
  width:200px;

  border-radius:25%;

}

p{
  font-family: 'Manjari', sans-serif;
  margin-left:auto;
  margin-right: auto;
color: #E9E9EA;
  text-align:center;
  align-content:center;
}

a:link{
  text-decoration:none;
}

a:hover, a:active {
  background-color: #DBB880;
  color:#2D2E33;
  border:10px;
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color:#e9e9ea;

}

.thank{
  display:block;
  margin-left:auto;
  margin-right:auto;
  align-content:center;
  text-align:center;
  border-radius:15px;
}

.cats-link{
  font-family:'Itim', cursive;
  color:#DBB880;
  text-align:center;
  font-size:1.5em;

}



/* NOTE: All other images will need a class to style the width if you want them a diffrent size */

h1{
    color: #E9E9EA;
  text-align: center;
  padding-top: 20px;
}

.list{
  font-family: 'Manjari', sans-serif;
  margin-left:auto;
  margin-right: auto;
color: #E9E9EA;
  text-align:center;
  align-content:center;

}



footer{
  background: #2D2E33;
  color:#e9e9ea;
  text-align: center;
  padding:20px;
}

.figure{
  float: right;
  font-family: 'itim', cursive;
  color:#e9e9ea;
  text-align: center;
  text-indent: 0;
  line-height: 20px;
  margin: 0.8em;
  padding: 0.5em;
}


/* NOTE: START MEDIUM SIZE DISPLAYS ---------------------*/
@media only screen and (min-width: 700px) {


}
img{
     max-width:100%;
     display:block;
     text-align:center;
     margin-left: auto;
  margin-right: auto;
}

    .center-this{
        margin-right: auto;
        margin-left: auto;
        display: block;
        /* Note you can use this to center an element but you have to add a width */
    }

  .grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 5px;
  }
  .grid div{

  }



  /* NOTE Do not change nav styles below ------------without help from April*/
  .mainNav {
      overflow: hidden;
    }
    .mainNav .navBars {
      display: none;
    }
    .mainNav .navcontainer {
      padding-top: 0;
      padding-bottom: 0;
      max-width:100%;
  /* 	Add max-width:100 to counter act the styles above media query so the links could be all the way to the left or right */
    }
    .mainNav .menu {
      display: block;
      box-shadow: none;
      border: none;
      /* float:left; */
      /* NOTE LINKS POSITION to the left*/
      text-align: center;
      /* NOTE LINKS POSITION center*/
      /* float: right; */
      /* NOTE LINKS POSITION to the right*/
      position: static;
    }
    .mainNav .menu li {
      display: inline-block;
    }
    .mainNav .menu a {
      border: none;
      padding: 20px 10px;
    }
/* NOTE END nav styles --------------------------- */

}/* NOTE: DO NOT DELETE THIS LAST CURLY BRACE */
/* NOTE END MEDIUM SIZE DISPLAYS ----------------------- */
/* NOTE START LARGE SCREEN STYLES BELOW ---------------- */
@media only screen and (min-width: 1200px) {

  /*         START DESKTOP FORM STYLES */
        .form-container{
   /*         CHANGE WIDTH of FORM TO YOUR PREFERENCE */
          width:50%;
        }
        input{
           /* CHANGE WIDTH TO YOUR PREFERENCE */
          width:60%;
        }
        button{
          margin-top: 2%;
          margin-bottom: 2%;
        }
      }
      .map{
   display:block;
   width:100%;

   margin-left:auto;
   margin-right:auto;
   text-align:center;
   border-radius:15px;

 }
 .group{
   display:inline-block;
   width:48%;
   vertical-align: top;
 }
}

    .wrapper{
        max-width: 1700px;
    }




}/* NOTE: DO NOT DELETE THIS LAST CURLY BRACE */
